/* Header / Banner Section */

.bx-logo-padding {
    padding-bottom: 50px;
}

.page-header {
    padding-top: 60px;
}


/* Text Colors */

.text-recipe {
    color: #F67280;
}

.text-travel {
    color: #17B978;
}

.text-review {
    color: #734488;
}

.text-local {
    color: #1B5A7A
}


/* MF Hero Main Page */

.mf-hero-main {
    background-color: #fffffa;
}


/* Background Colors  */

.mf-section-bg-lt-gray {
    background-color: #fffffa;
}


/* Media Queries */

@media (min-width: 576px) {
    .bx-logo-padding {
        padding-bottom: 50px;
    }
}


/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    .bx-logo-padding {
        padding-bottom: 50px;
    }
}


/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .bx-logo-padding {
        padding-bottom: 50px;
    }
}